body{
	margin: 0;
	padding: 0;
	min-width: 1200px;
}
/*头部=====================================================*/
header{
	height: 60px;
	width: 100%;
	position: relative;
}
header .book{
	float: left;
	height: 60px;
	background: url(image_7/header_1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 33px;
	margin-left: 50px;
}

.new_World{
	float: left;
	font-size: 26px;
	font-family: "微软雅黑";
	position: absolute;
	left: 90px;
	top: 15px;
	color: rgba(0,0,0,0.8);
}
/*头部导航==============================================================*/
nav{
	width: 550px;
	float: right;
}
nav ul{
	list-style:none;
	height: 56px;
	margin:0;
	padding:0;
}
nav ul li a{
	text-decoration: none;
	float: left;
	display: inline-block;
	height: 56px;
	width: 100px;
	line-height: 56px;
	text-align: center;
	color: rgba(0,0,0,0.6);
	font-family: "黑体";
	-webkit-transition:color 0.4s;
	-ms-transition:color 0.4s;
}
nav ul li a:hover{
	color: rgba(200,0,0,0.6);
	border-bottom: 5px solid rgba(200,0,0,0.6);
}
/*右边登录栏========================================================================*/
.log_in{
	width: 100px;
	height: 60px;
	float: right;
}
.log_img{
	background-image: url(image_7/icon-2.jpg);
	height: 17px;
	width: 14px;
	float: left;
	margin-top: 19px;
	margin-right: 5px;
}
.log_in span{
	display: inline-block;
	width: 50px;
	line-height: 25px;
	text-indent: 8px;
	margin-top: 17px;
	-webkit-transition:border-bottom 0.5s;
	-ms-transition:border-bottom 0.5s;
}
.log_in span:hover{
	border-bottom: 3px solid rgba(255,0,0,0.6);
}
.log_in a{
	text-decoration: none;
	color: rgba(220,0,0,0.6);
}
/*section1===============================================================*/
.sec1{
	width: 100%;
	height: 690px;
	background: url(image_7/pic01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.art_1{
	width: 500px;
	height: 300px;
	margin-left: 150px;
	margin-top: 280px;
	position: absolute;
}
.text_1{
	color:white;
	font-family: "微软雅黑";
	font-size: 60px;
	font-weight: bold;
	margin:0;
}
.text_2{
	color:white;
	font-family: "微软雅黑";
	font-size: 22px;
	margin:0;
	margin-top: 30px;
}
.text_3{
	display: inline-block;
	color:white;
	font-family: "微软雅黑";
	font-size: 30px;
	height: 60px;
	width: 300px;
	text-decoration: none;
	text-align: center;
	line-height: 60px;
	margin-top: 70px;
	background: rgba(229, 28, 28, 0.85);
	-webkit-transition:background 0.7s;
	-ms-transition:background 0.7s;
	-webkit-font-smoothing:antialiased;/*========文字抗锯齿======*/
}
.text_3:hover{
	background: rgba(229, 10, 10, 1);
	border-radius: 3px;
}
/*section2===============================================================*/
.sec2{
	width: 100%;
	font-size: 0;
}
.box{
	width: 25%;
	display: inline-block;
	-webkit-transition:color 0.5s;
	-ms-transition:color 0.5s;
	color: #444;
}
.box_up{
	text-align: center;
	margin-top:70px;
}
.box_down{
	text-align: center;
	font-size: 14px;
	margin-top: 40px;
	font-family: "黑体";
	border-right: 2px solid rgba(0,0,0,0.8);
	margin-bottom: 40px;
}
.none{
	border-right: 0px solid rgba(0,0,0,0.6);
}
.box:hover{
	color: rgba(200,0,0,0.6);
}
/*section3===============================================================*/
.sec3{
	width: 100%;
	background: rgba(0,0,0,0.15);
}
.sec3_up{
	padding-top: 100px;
	text-align: center;
}
.sec3_down{
	font-size: 50px;
	text-align: center;
	font-family: "黑体";
	color: rgba(0,0,0,0.8);
	padding-bottom: 20px;
}
/*section4===============================================================*/
.sec4{
	height: 340px;
	width: 100%;
	background-image: url(image_7/pic02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.box4_1{
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 70px;
	font-family: "黑体";
}
.box4_1 p{
	margin: 0;
}
.box4_2{
	margin: 0 48%;
	height: 10px;
	border-bottom: 2px solid white;
	-webkit-transition:margin 0.8s;
	-ms-transition:margin 0.8s;
}
.box4_2:hover{
	margin: 0 35%;
}
.box4_3{
	text-align: center;
	color: white;
	padding-top: 10px;
	font-size: 14px;
	font-family: "黑体";
}
.box4_4{
	text-align: center;
	padding-top: 40px;
}
.op1{
	width: 200px;
	height: 30px;
	color:rgba(0,0,0,0.5);
	cursor: pointer;
}
.op2{
	display: inline-block;
	width: 200px;
	height: 30px;
	color:white;
	background: rgba(209, 79, 79, 1);
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	-webkit-transition:background 0.8s;
	-ms-transition:background 0.8s;
}
.op2:hover{
	background: rgba(225, 8, 8, 1);
	border-radius: 3px;
}
/*section5===============================================================*/
.sec5{
	width: 100%;
	background: rgba(0,0,0,0.15);
}
.box5_0{
	width: 85%;
	font-size: 0;
	margin: 0 auto;
}
.box5{
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 25%;	
	text-align: center;
}
.img{
	height: 334px;
	width: 216px;
	margin: 0;
	display: inline-block;
}
.p1{
	font-size: 14px;
	color: rgba(0,0,0,0.8);
	text-align: center;
}
.p2{
	font-size: 12px;
	color: rgba(0,0,0,0.5);
	text-align: center;
}
.P1{
	font-size: 20px;
	margin: 0;
	letter-spacing: 15px;
}
/*section6===============================================================*/
.sec6{
	width: 100%;
	height: 500px;
}
/*s6_left=============================*/
.s6_left{
	width: 70%;
	height:500px;
	background: url(image_7/pic07.jpg);
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}
.s6_p{
	padding-top: 120px;
}
.s6_left p{
	color: white;
	font-family: "微软雅黑";
	text-align: center;
	margin: 0;
}
.s6_p1{
	font-size: 60px;
}
.s6_p2{
	font-size: 100px;
	letter-spacing: 10px;
	font-weight: bold;
}
.s6_p3,.s6_p4{
	font-size: 25px;
}
.border{
	position: absolute;
	width: 40px;
	border-right: 40px solid white;
	border-top: 40px solid rgba(0,0,0,0);
	border-bottom: 40px solid rgba(0,0,0,0);
	top: 200px;
	right: 0;
}
/*s6_right=============================*/
.s6_right{
	width: 30%;
	height:500px;
	float: right;
text-align: center;
}
.R_box1{
	height: 220px;
	/*background: #ccc;*/
	width: 100%;
	overflow: hidden;
	margin-top: 80px;
}
.R_box1 div{
	height: 220px;
	/*border:1px solid red;*/
	width: 80%;
	margin: 0 auto;
	font-family: "微软雅黑";
}
.R_p1{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
.R_p1 span{
	color: rgba(187, 53, 53, 1);
}
.R_p2{
	color: rgba(0,0,0,0.6);
	line-height: 25px;
	text-align: left;
}
.R_btn{
	height: 50px;
	width: 130px;
	font-size: 20px;
	cursor: pointer;
	color: rgba(187, 53, 53, 1);
	border: 2px solid rgba(187, 53, 53, 1);
	background: white;
	-webkit-transition: background 0.8s,border-radius 1s,color 0.5s,border 1s;
	font-family: "黑体";
}
.R_btn:hover{
	background: rgba(187, 53, 53, 0.7);
	color: white;
	border:0;
	border-radius: 5px;
}
.R_nav a{
	display: inline-block;
	margin-top: 40px;
}
.nav_btn{
	height: 10px;
	width: 10px;
	border-radius: 5px;
	border:1px solid rgba(0,0,0,0.6);
}
.nav_btn:hover{
	background: rgba(0,0,0,0.6);
}
/*section7=========================================================*/
.sec7{
	height: 500px;
	width: 100%;
	font-size: 0;
	font-family: "微软雅黑";
}
.s7_box{
	height: 500px;
	display: inline-block;
	text-align: center;
}
.s7_left,.s7_center{
	width: 35%;
}
.s7_left{
	background: #E84E4C;
}
.s7_right{
	width: 30%;
	background-image: url(image_7/pic08.jpg);
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}
/*s7文字======================*/
.s7_left p{
	color:white;
	font-size: 25px;
}
.s7_center p{
	font-size: 25px;
}
.L_p1{
	padding-top:150px;
}
/*s7横线=============================*/
.border_1{
	height: 3px;
	width: 30px;
	border-bottom:2px solid white;
	margin: 0 auto;
	margin-bottom: 20px;
	transition: width 0.6s;
}
.border_1:hover{
	width: 200px;
}
.border_2{
	height: 3px;
	width: 30px;
	border-bottom:2px solid #666;
	margin: 0 auto;
	margin-bottom: 20px;
	-webkit-transition: width ease-in-out 0.6s;
	-ms-transition: width ease-in-out 0.6s;
}
.border_2:hover{
	width: 200px;
}
/*s7按钮===========================*/
.s7_btn1,.s7_btn2{
	width: 130px;
	height: 35px;
	font-size: 20px;
	margin:0 auto;
	line-height: 35px;
	-webkit-transition: background ease-in-out 0.6s,color 0.6s;
	-ms-transition: background ease-in-out 0.6s,color 0.6s;
}
.s7_btn1{
	border:1px solid white;
	color: white;
}
.s7_btn1:hover{
	background: white;
	color: #E84E4C;
}
.s7_btn2{
	border:1px solid #E84E4C;
	color:#E84E4C;
}
.s7_btn2:hover{
	background:  #E84E4C;
	color: white;
}
/*s7修饰框========================*/
.none2{
	width: 100%;
	margin-top: 149px;
}
/*三角修饰符==============*/
.s7_right>div{
	position: absolute;
	top: 220px;
	width: 30px;
	border-top: 30px solid rgba(0,0,0,0);
	border-bottom: 30px solid rgba(0,0,0,0);
	border-left: 30px solid white;
}
/*section8==============================================*/
.sec8{
	width: 100%;
	height: 300px;
	text-align: center;
	font-family: "微软雅黑";
}
.s8_p1{
	font-size: 20px;
	padding-top: 80px;
}
.s8_underline{
	width: 40px;
	height: 3px;
	border-bottom: 2px solid  #E84E4C;
	margin:0 auto;
	-webkit-transition: width ease-in-out 0.6s;
	-ms-transition: width ease-in-out 0.6s;
}
.s8_underline:hover{
	width: 250px;
}
.s8_p2,.s8_p3{
	color: rgba(0,0,0,0.4);
}
/*section9==============================================*/
.sec9{
	height: 400px;
	width: 100%;
}
.s9_left{
	width: 40%;
	height: 400px;
	float: left;
}
.s9_right{
	float: right;
	width: 60%;
	height: 400px;
}
.s9_L1{
	float: right;
	width: 420px;
}
.s9_L1>h3{
	color:  rgba(0,0,0,0.7);
}
.s9_L1>p{
	padding-right: 50px;
	color: rgba(0,0,0,0.4);
	line-height: 25px;
	margin-bottom: 0;
	font-size: 15px;
}
.more{
	color: rgba(0,0,0,0.4);
	font-size: 16px;
	text-align: right;
	margin: 0;
	text-decoration: none;
	display: block;
	padding-right: 50px;
}
.more span{
	font-size: 12px;
}
/*s9-right==============================*/
.s9_right form input{
	padding: 8px;
	margin: 8px;
	background: #E3E3E3;
	width: 300px;
}
textarea{
	margin-left: 10px;
	background: #E3E3E3;
	width: 658px;
	height: 150px;
	border:0;
	margin-top:10px; 
}
.submit{
	height: 40px;
	width: 663px;
	background: #E3E3E3;
	margin-top: 20px;
	margin-left: 10px;
	cursor: pointer;
	-webkit-transition:background ease-in-out 0.5s,border-radius 0.5s;
	-ms-transition:background ease-in-out 0.5s,border-radius 0.5s;
	font-size: 16px;
	letter-spacing: 5px;
}
.submit:hover{
	border-radius: 10px;
	background: #1AA1A2;
}
/*footer========================================================================================*/
footer{
	width: 100%;
	height: 400px;
	background: rgba(52,55,64,1);
	text-align: center;
	color: white;
	position: relative;
}
footer>h3{
	padding-top: 100px;
	letter-spacing: 5px;
	font-size: 22px;
}
footer >p{
	font-size: 14px;
	line-height: 20px;
	font-family: "微软雅黑";
	margin-bottom: 30px;
}
footer>input{
	height: 30px;
	width: 360px;
	font-size: 14px;
}
footer>button{
	width: 80px;
	height: 36px;
	-webkit-transition:background ease-in-out 0.5s;
	-ms-transition:background ease-in-out 0.5s;
	font-size: 14px;
	letter-spacing: 3px;
}
footer>button:hover{
	background:#9B9494;
}
.icon{
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	height: 50px;
	width: 50px;
	margin-top: 10px;
}
.icon img{
	width: 45px;
	height: 45px;
	float: left;
	-webkit-transition: width 0.3s,height 0.3s;
	-ms-transition: width 0.3s,height 0.3s;
}
.icon img:hover{
	width: 50px;
	height: 50px;
}

.foot{
	width: 100%;
	height: 60px;
	background: rgba(0,0,0,0.4);
	position: absolute;
	bottom: 0;
	font-family: "黑体";
}
.foot_1,.foot_2{
	display: inline-block;
	width: 150px;
	height: 60px;
	line-height: 60px;
	color: rgba(255,255,255,0.6);
	text-decoration: none;
}
.foot_1{
	float: left;
	margin-left: 100px;
	-webkit-transition: color 0.8s;
	-ms-transition: color 0.8s;
}
.foot_1:hover{
	color: white;
}
.foot_2{
	float: right;
	margin-right: 100px;
	font-size: 14px;
	-webkit-transition: color 0.8s;
	-ms-transition: color 0.8s;
}
.foot_2:hover{
	color: white;
}

