
.roll{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
#img-roll li{
	float: left;
}
#img-roll li a img{
	width: 100%;
}

.roll .contorl-btn{
	position: absolute;
	bottom: 20px;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.roll .contorl-btn li{
	display: inline-block;
	width: 10px;
	height: 10px;
}
.roll .contorl-btn li a{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: blue;
}
.roll .contorl-btn li a:hover{
	background: #f00;
}


.juanzhan{
	margin: 25px 15px 0px;
	height: 25px;
	background: url(../images/img1_03.png);
	background-position: 50% 50%;
	background-size: cover;
}

.article{
	margin: 0 33px 0;
	background: #fff;
	padding-top: 20px;
}
.vedio{
	width: 71%;
	float: left;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	border-right: 1px solid #eee;
}
.vedio h2{
	float: left;
	text-indent: 10px;
	line-height: 50px;
	color: #9a1b21;
	overflow: hidden;
	white-space: nowrap;
}
.vedio a.more{
	float: left;
	text-indent: 20px;
	margin-top: 16px;
	padding-right: 15px;
	background: url(../images/more_07.png) no-repeat right center;
	font-size: 16px;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
}
.vedio .more:hover{
	color: #9a1b21;
}
/*.vedio ul{
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -100px;
	text-align: center;
	width: 200px;
}
.vedio ul li{
	padding: 3px 10px;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 10px;
}
.vedio ul li.more{
	border: none;
}*/


.module-video .video-wrap, .module-video .video-wrap-outer {
    width: 100%;
    height: 480px;
    background: #000;
    position: relative;
}
.module-video .video-wrap {
    overflow: hidden;
    zoom: 1;
}



.vedio-box{
	width: 100%;
	display: flex;
	justify-content:left;
	flex-wrap:wrap;
}
.vedio-box .item{
	display: inline-block;
	width: 300px;
	height: auto;
	margin-left: 17px;
	margin-bottom: 20px;
	background-color: #eee;
	border-top-right-radius: 20px;
}
.vedio h3{
	text-indent: 40px;
	line-height: 40px;
	color: #333;
	font-size: 14px;
	background: url(../images/yun_03.png) no-repeat left center;
	background-color: #fff;
}
.vedio-box h3{
	text-indent: 40px;
	line-height: 40px;
	color: #333;
	font-size: 14px;
	background: url(../images/yun_03.png) no-repeat left center;
	background-color: #fff;
}
.vedio-box .item .img{
	position: relative;
	height: 160px;
	overflow: hidden;
}
.vedio-box .item .img a{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
	transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-o-transition: opacity .2s;
	-moz-transition: opacity .2s;
}
.vedio-box .item .img img{
	-webkit-transition: transform .2s;
	-ms-transition: transform .2s;
	-o-transition: transform .2s;
	-moz-transition: transform .2s;
}
.vedio-box .item .img a img{
	display: block;
	width: 40px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.vedio-box .item .img:hover a{
	opacity: 1;
}
.vedio-box .item>p{
	margin-top: 10px;
	line-height: 20px;
	color: #333;
	text-indent: 5px;
}
.vedio-box .item div p{
	line-height: 30px;
	color: #333;
	text-indent: 5px;
}
.vedio-box .item p.lx{
	float: left;
}
.vedio-box .item p.zj{
	float: right;
	margin-right: 5px;
}
/*侧边栏============================*/
.side-right{
	width: 27%;
	float: right;
}
.side-right a{
	display: block;
}
.caption{
	height: 40px;
	margin-bottom: 5px;
}
.caption h3{
	float: left;
	background: url(../images/list_03.png) no-repeat left center;
	text-indent: 40px;
	line-height: 40px;
	margin-left: -10px;
	color: #9a1b21;
	border-top: 1px solid #eee;
	width: 60%;
	overflow: hidden;
	white-space: nowrap;
}
.caption a{
	float: right;
	margin-right: 10px;
	color: #666;
	font-size: 12px;
	margin-top: 15px;
	width: 66px;
}
.caption a:hover{
	color: #9a1b21;
}
.side{
	margin: 20px 20px 0 0;
	height: 60px;
	padding-right: 78px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
/*.side:nth-child(1){
	margin-top: 0；
}*/
.side.side1{
	background: url(../images/icon3.png) no-repeat right center ;
	background-color: #eee;
}
.side.side2{
	background: url(../images/icon4.png) no-repeat right center ;
	background-color: #eee;
}
.side.side3{
	background: url(../images/tea_03.png) no-repeat right center ;
	background-color: #eee;
}
.side p{
	white-space: nowrap;
	overflow: hidden;
	text-indent: 10px;
	color: #666;
}
.side p:nth-child(1){
	line-height: 35px;
	color: #b76d22;
	font-size: 16px;
}

/*教室档案========================**/
.teacher-pic{
	position: relative;
	margin-right: 10px;
	margin-bottom: 30px;
	height: 100px;
	font-size: 0;
}
.teacher{
	width: 190px;
	height: 70px;
	padding: 15px 0;
	overflow: hidden;
	margin: 0 auto;
}
.teacher ul{
	height: 70px;
	font-size: 0;
}
.teacher ul li{
	width: 95px;
	height: 70px;
	float: left;
}
.teacher ul li a{
	display:block;
	margin: 0 auto;
	width: 64px;
	height: 64px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid #444;
	transition: transform .3s;
	-webkit-transition: transform .3s;
	-o-transition: transform .3s;
	-ms-transition: transform .3s;
	-moz-transition: transform .3s;
}
.teacher ul li a:hover{
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
}
.teacher ul li a img{
	width: 100%;
	margin-top: -10px;
}
.teacher .th-btn{
	width: 20px;
	height: 50px;
	position: absolute;
	cursor: pointer;
}
.teacher .th-btn.l-btn{
	left: 0px;
	top: 25px;
	background: url(../images/icon-btn_05.png) no-repeat center center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: none;
}
.teacher .th-btn.r-btn{
	right: 0px;
	top: 25px;
	background: url(../images/icon-btn_03.png) no-repeat center center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.teacher .th-btn:hover{
	background-color: #ccc;
}

/*.teacher div{
	display: inline-block;
	width: 100px;
	cursor: pointer;
	transition: transform .2s;
}
.teacher div:hover{
	transform: scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
}
.teacher .head-img{
	width: 54px;
	height: 54px;
	border: 3px solid #333;
	border-radius: 50%;
	overflow: hidden;
}
.teacher .head-img>img{
	margin-top: -10px;
}
/*.teacher .head-img.img1{
	background: url(../images/th1.jpg);
	background-size: cover;
	background-position: 50% 50%;	
}
.teacher .head-img.img2{
	background: url(../images/th2.jpg);
	background-size: cover;
	background-position: 50% 50%;	
}*/

/*//历史观看记录===================*/
.history{	
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
}
.hisMore{
	height: 75px;
}
.history p{
	width: 67%;
	float: left;
	/*text-indent: 10px;*/
	color: #555;
	line-height: 25px;
	overflow: hidden;
	white-space: nowrap;
}
.history a:hover{
	background: #fff;
}
.history a:hover p{
	color: #9a1b21;
}
.history span{
	display: inline-block;
	float: right;
	color: #666;
	margin-right: 10px;
	font-size: 10px;
	line-height: 25px;
	width: 53px;
}
.contactus p{
	line-height: 20px;
}

/*机构概况*/
.jigou p{
	line-height: 20px;
	padding-left: 20px;
}
.jigou h3{
	margin-left: 5px;
	line-height: 40px;
	border-bottom: 2px solid #ccc;
}
.jigou p.guwen{
	margin-bottom: 20px;
}
.jigou img{
	max-width: 90%;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.jigou table{
	width: 500px;
	margin-left: 15px;
	border: 1px solid #ccc;
}
.jigou table tr td{
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	width: 100px;
	text-align: center;
}

/*视频资源*/
.play{
	width: 100%;
	height: 600px;
}

/*汉语机构*/
.hezuo .items{
	padding: 10px 20px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}
.hezuo h3{
	border-top: 1px solid #ccc;
}
.items-height{
	height: 190px;
}
.hezuo-logo{
	width: 80px;
	height:80px;
	float: left;
	overflow: hidden;
}
.hezuo .items p{
	line-height: 23px;
	margin-left: 100px;
}
.items .content{
	margin-bottom: 20px;
}
.items .btn{
	width: 100px;
	height: 23px;
	line-height: 23px;
	position: absolute;
	right: 10px;
	bottom: 0;
	background:#fff;
	color: #9a1b21;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 12px;
}
.hezuo-logo img{
	width: 100%;
	margin: 0 auto;
}
.hezuo .content .img{
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 20px;
}

/*//联系我们*/
.contact p{
	line-height: 25px;
	margin-left: 20px;
}
.contact h3{
	margin-left: 5px;
	line-height: 40px;
}
.contact p.con-haiyu{
	color: #000;
	font-weight: bold;
	margin-bottom: 10px;
}
.contact img{
	margin-bottom: 30px;
}

/*传统文化*/
.xiangqi{
	padding: 0 15px 0 10px;
	margin-bottom: 30px;
}
.xiangqi h3{
	line-height: 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.xiangqi img{
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.xiangqi p{
	font-size: 12px;
	line-height: 25px;
}
.trandition-active{
	background-color: #c00;
}


/*iframe窗口页面部分*/
.iframe{
	width: 100%;
	height: 1000px;
}
.iframe iframe{
	width: 100%;
	height: 100%;
	border: none;
}
#file>a>p{
	width: 100%;
}


/*vedio页面分页按钮*/
.page{
	margin: 20px 0 40px;
	display: flex;
	text-align: center;
	flex-wrap: nowrap;
	justify-content: center;
	font-size: 12px;
}
.page>a{
	display: inline-block;
	padding: 0 20px;
	border: 1px solid #ccc;
	height: 28px;
	line-height: 28px;
	border-radius: 5px;
	margin-right: 20px;
	color: #444;
	background: #eee;
}
.page>span{
	line-height: 28px;
}
.page>a:hover{
	background: #9abfe2;
	border: 1px solid #9abfe2;
	color: #222;
}
.page-input{
	height: 28px;
	line-height: 28px;
	border: 1px solid #ccc;
	margin-left: 10px;
}
.page-input>input{
	width: 50px;
	height: 100%;
	border: none;
	text-indent: 5px;
	font-size: 12px;
}
.page-input>a{
	width: 40px;
	height: 100%;
	float: right;
	background: #ccc;
	color: #333;
}


/*招聘页面*/
.zhaopin h3{
	margin-left: 5px;
}
.zhaopin p{
	line-height: 25px;
	padding-left: 20px;
	padding-right: 10px;
}